@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", system-ui;
  font-weight: 400;
  font-style: normal;
}

.mainContainer {
  background: #009fb2;
}

ul {
  background: none;
}

.upperKachora {
  position: relative;
  max-width: 100%;
  display: inline-block;
  background-color: none;
}

.kachora {
  width: 100vw;
  object-fit: cover;
  height: 100vh;
}

nav {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  gap: 6px;
}

nav ul li {
  box-shadow: 0 0 0.2px 0.5px white;
  border: 3px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 8px;
  text-align: right;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 75px;
  left: 10px;
  gap: 15px;
  color: #f4f4f4;
}

.Welcome ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  gap: 6px;
}

.Welcome ul li {
  border: 3px solid white;
  color: white;
  cursor: pointer;
  padding: 8px;
  text-align: right;
  box-shadow: 0 0 0.2px 0.5px white;
}


.Search {
  display: flex;
  border-radius: 0.3rem;
  position: relative;
  background-color: rgb(46, 46, 90);
  justify-content: center;
  gap: 5px;
  padding: 8px;
  align-items: center;
  bottom: 30px;
  width: 50vw;
  left: 25vw;
}

.first input {
  border-radius: 0.3rem;
  width: 40vw;
}

.searchsecond {
  display: flex;
  position: relative;
  left: 8px;
  border-left: 2px solid white;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.Explore {
  display: flex;
  position: relative;
  align-items: center;
  left: 40vw;
  width: 120px;
  padding: 8px;
  bottom: 15px;
  border-radius: 0.5rem;
  justify-content: center;
  background: #FFFFFF;
  
  color: #000000;
  border: none;
  box-shadow: 0 0 0.5px 0.5px white;
}

.skardu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 100vw;
  object-fit: cover;
  height: 150vh;
  gap: 16px;
  align-content: center;
  margin: 0 auto;
  align-items: center;
}

#heading1 {
  top: 10px;
  
}

#heading2 {
  bottom: 10px;
}

/* for responsive */
